{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}

{% block title %}Who's on Campus?{% endblock %}

{% block body %}
    <h1>Who&rsquo;s on Campus?</h1>
    <a href="{{ path('event_new') }}" class="btn btn-primary">Create new</a>

    <div id="calendar"></div>
{% endblock %}
